.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
}

/* --bp-sm */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --bp-lg */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-6);
  }
}
